/* OUR WORK styles */

:root {
  --white: #ffffff;
  --black: #000000;
  --off-white: #f5f5f5;
  --off-black: #1c1c1c;
  --azul: #04222d;
  --green: #317b22;
}

.outerContainer {
  width: 100%;
  height: 100%;
  background-color: var(--off-white);
}
.innerContainerA {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.slimHero {
  width: 1192px;
  height: 12rem;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  align-items: center;
  display: flex;
}
.slimHero img {
  object-fit: cover;
  object-position: top;
}
.slimHero .tint {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    280deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(28, 28, 28, 0.7) 63%
  );
  position: absolute;
  top: 0;
  z-index: 1;
}
.slimHero h1 {
  z-index: 2;
  position: absolute;
  font-family: var(--font-staatliches);
  color: var(--white);
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 1.5px;
  padding-left: 20px;
}
.innerContainerB {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sectionTitle {
  text-transform: uppercase;
  font-family: var(--font-staatliches);
  font-weight: 400;
  color: var(--azul);
  font-size: 32px;
  padding-top: 5rem;
  padding-bottom: 2rem;
}
.threeCol {
  width: 63rem;
  height: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-bottom: 2rem;
}
.imageContainer {
  width: 25rem;
  height: 25rem;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}
.imageContainer img {
  object-fit: cover;
}
.arrowIconContainer {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
}
.arrowIconContainer img {
  object-fit: contain;
}
.innerContainerC {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.galleryContainer {
  width: 1192px;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  row-gap: 25px;
  padding-bottom: 7rem;
}
.galleryImage {
  width: 370px;
  height: 350px;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  cursor: pointer;
}
.galleryImage img {
  object-fit: cover;
}
.innerContainerD {
  width: 100%;
  height: auto;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
}
.twoColumn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 63rem;
}
.twoColumn .columnImage {
  width: 25rem;
  height: 25rem;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
}
.twoColumn .columnImage img {
  object-fit: cover;
}
.twoColumn .columnText {
  padding-left: 50px;
}
.twoColumn h1 {
  color: var(--azul);
  font-family: var(--font-staatliches);
  font-weight: 400;
  padding-bottom: 10px;
}
.twoColumn p {
  color: var(--off-black);
  font-family: var(--font-roboto);
  font-weight: 400;
  height: auto;
  width: 396px;
  line-height: 25px;
  padding-bottom: 10px;
}
.twoColumn .ctaBtn {
  width: 8rem;
  height: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  border-radius: 25px;
  border: var(--green) 2px solid;
  background-color: var(--green);
  color: var(--white);
  transition: all ease-in-out 0.2s;
  margin-top: 10px;
}
.ctaBtn:hover {
  background-color: var(--off-white);
  color: var(--green);
}

/* MEDIA QUERIES */

/* 1260px or less */
@media screen and (width <= 1260px) {
  .slimHero {
    width: 1000px;
  }
  .twoColumn {
    width: 1000px;
  }
  .twoColumn .columnImage {
    width: 27rem;
    height: 27rem;
  }
  .innerContainerC .galleryContainer {
    justify-content: center;
    width: 1000px;
    column-gap: 25px;
  }
  .innerContainerC .galleryImage {
    width: 16rem;
    height: 16rem;
  }
}
/* 1040px or less */
@media screen and (width <= 1040px) {
  .slimHero {
    width: 90%;
    border-radius: 10px;
  }
  .slimHero img {
    object-fit: cover;
  }
  .galleryContainer {
    justify-content: space-evenly;
    width: 700px;
  }
  .galleryImage {
    width: 13rem;
    height: 13rem;
  }
  .twoColumn {
    width: 800px;
  }
  .twoColumn .columnImage {
    width: 19rem;
    height: 19rem;
  }
  .columnText {
    width: 445px;
  }
  .columnText h1 {
    font-size: 30px;
  }
  .columnText p {
    font-size: 15px;
    width: 100%;
  }
  .twoColumn .ctaContainer b {
    font-size: 15px;
  }
}
/* 830px or less */
@media screen and (width <= 830px) {
  .slimHero h1 {
    font-size: 50px;
  }
  .outerContainer .innerContainerA {
    padding-bottom: 0;
  }
  .outerContainer .innerContainerC {
    background-color: white;
  }
  .innerContainerC .galleryContainer {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: initial;
  }
  .innerContainerC .galleryImage {
    width: 13rem;
    height: 13rem;
  }
  .twoColumn {
    display: flex;
    flex-direction: column;
  }
  .twoColumn .columnText {
    padding-left: 0;
    text-align: center;
  }
  .twoColumn .columnImage {
    margin-bottom: 20px;
  }
  .columnText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .outerContainer .innerContainerD {
    background-color: #f0f0f0;
    padding-top: 5rem;
  }
}
/* 640px or less */
@media screen and (width <= 640px) {
  .slimHero h1 {
    font-size: 40px;
  }
}

/* 495px or less */
@media screen and (width <= 490px) {
  .slimHero {
    width: 90%;
    height: 30rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: end;
  }
  .slimHero h1 {
    font-size: 65px;
    padding-left: 0;
    text-align: center;
  }
  .twoColumn {
    width: 100%;
  }
  .columnText {
    width: 19rem;
  }
  .columnText h1,
  .columnText p {
    text-align: left;
  }
  .columnText h1 {
    width: 100%;
  }
  .columnText p {
    font-size: 15px;
    width: 100%;
  }
  .innerContainerC .galleryImage {
    width: 10rem;
    height: 10rem;
  }
}
