.formDisplay {
  display: none;
}

.formActive {
  display: flex;
}

.overlay {
  height: 100%;
  width: 100vw;
  position: fixed;
  background-color: black;
  z-index: 4;
  opacity: 70%;
}
.icon {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 4%;
  right: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  z-index: 5;
}

.formContainer {
  width: 583px;
  height: auto;
  display: flex;
  position: fixed;
  background-color: var(--off-white);
  z-index: 4;
  justify-content: center;
  border-radius: 16px;
  top: 2%;
  right: 2%;
}

.formContainer .content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  padding: 65px 0;
}
.formContainer .content p {
  padding-bottom: 20px;
}
.formContainer .content .title {
  font-size: 32px;
  color: var(--azul);
  font-weight: 600;
  letter-spacing: -1px;
}
.formContainer .content .subtitle {
  font-size: 20px;
  color: var(--azul);
  font-weight: 400;
  line-height: 28px;
}
.formContainer form.submitted {
  display: none;
}
.formContainer .formItem > input {
  border-radius: 10px;
  padding: 13px 25px;
  background-color: var(--off-white);
  border: solid 1.5px #e1e1e1;
  width: 100%;
  color: var(--off-black);
  font-size: 19px;
  margin-bottom: 20px;
}
.formContainer .formItem > #message {
  border-radius: 10px;
  padding: 13px 25px 120px;
  background-color: var(--off-white);
  border: solid 1.5px #e1e1e1;
  width: 100%;
  color: var(--off-black);
  font-size: 19px;
  margin-bottom: 20px;
  resize: none;
  font-family: var(--roboto);
}
.formContainer .formItem {
  display: flex;
  justify-content: center;
}
.formContainer .formItem > .btn {
  background-color: var(--green);
  border: none;
  width: 155px;
  height: 32px;
  font-size: 18px;
  border-radius: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
.formContainer .formItem > .btn:hover {
  background-color: var(--off-white);
  color: var(--green);
  border: 2px solid var(--green);
}
