.container {
  width: 583px;
  height: 700px;
  display: flex;
  position: absolute;
  background-color: var(--off-white);
  z-index: 4;
  justify-content: center;
  border-radius: 16px;
}
.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
}
.content h1 {
  font-size: 32px;
  color: var(--azul);
  font-weight: 600;
}
.content p {
  font-size: 20px;
  color: var(--azul);
  font-weight: 400;
}
.formItem > input {
  border-radius: 10px;
  padding: 13px 25px;
  background-color: var(--off-white);
  border: solid 1.5px #e1e1e1;
  width: 100%;
  color: #afafaf;
  font-size: 19px;
  margin-bottom: 20px;
}
.formItem {
  display: flex;
  justify-content: center;
}
.formItem > .btn {
  background-color: var(--green);
  border: none;
  width: 155px;
  height: 32px;
  font-size: 18px;
  border-radius: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
