.outerContainer {
  background-color: #074257;
  display: flex;
  justify-content: center;
}
.innerContainer {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 40px 0 20px 0;
  font-size: 16px;
  width: 35rem;
}
.doubleColumn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0 40px 0;
  width: auto;
}
.doubleColumn img {
  width: 10rem;
  height: auto;
}
.textContainer {
  width: auto;
}
.textContainer p {
  font-family: var(--font-staatliches);
  font-size: 40px;
  margin-left: 40px;
  width: 37rem;
}
.linkContainer a {
  transition: all ease-in-out 0.2s;
}
.linkContainer:hover a {
  color: #4a8841;
}

/* 830px or less */
@media screen and (width <= 830px) {
  .innerContainer {
    width: 80%;
  }
  .innerContainer {
    padding: 30px 0;
  }
  .textContainer p {
    font-size: 25px;
    width: 400px;
  }
}
/* 640px or less */
@media screen and (width <= 640px) {
  .doubleColumn {
    flex-direction: column;
  }
  .links {
    width: 100%;
    flex-wrap: wrap;
  }
  .linkContainer {
    padding: 0 10px 5px;
  }
  .linkContainer a {
    font-size: 18px;
  }
}
/* 495px or less */
@media screen and (width <= 490px) {
  .doubleColumn img {
    width: 7rem;
  }
  .doubleColumn p {
    font-size: 20px;
    margin: 0;
    text-align: center;
  }
}
