:root {
  --white: #ffffff;
  --black: #000000;
  --off-white: #f5f5f5;
  --off-black: #1c1c1c;
  --azul: #04222d;
}

.modalContainer {
    width: 100%;
    height: 100vh;
    background-color: #1c1c1c;
    position: fixed;
    z-index: 5;
    overflow-y: hidden;
}