:root {
  --white: #ffffff;
  --black: #000000;
  --off-white: #f5f5f5;
  --off-black: #1c1c1c;
  --azul: #04222d;
  --green: #317b22;
}

.modalDisplay {
  display: none;
}
.modalOn {
  display: flex;
}
.modal_overlay {
  height: 100%;
  width: 100vw;
  position: fixed;
  background-color: black;
  z-index: 4;
  opacity: 70%;
}

.modal_outerContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  z-index: 5;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.modal_innerContainer {
  height: 80vh;
  width: auto;
  position: relative;
  border-radius: 20px;
  cursor: default;
}

.modal_iconContainer {
  height: 30px;
  width: 30px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  z-index: 4;
  top: 7px;
  left: 7px;
}

.modal_iconContainer:hover {
  background-color: var(--off-black);
  border: var(--off-black) solid 2px;
}

.modal_iconContainer:hover > svg > path {
  color: var(--off-white);
}

.modal_iconContainer > svg > path {
  color: var(--off-black);
}

.modal_imgContainer {
  display: contents;
  position: relative;
  overflow: hidden;
}
.modal_imgContainer img {
  object-fit: contain;
  height: auto;
  width: auto !important;
  border: var(--off-white) solid 40px;
  inset: auto !important;
  position: inherit !important;
  border-radius: 15px;
}
/* 1040px or less */
@media screen and (width <= 1040px) {
  .modal_innerContainer {
    height: 80%;
    display: flex;
    justify-content: center;
  }
  .modal_imgContainer img {
    width: 90% !important;
    height: fit-content;
    object-fit: cover;
  }
  .modal_iconContainer {
    left: 55px;
  }
}
/* 640px or less */
@media screen and (width <= 640px) {
  .modal_innerContainer {
    height: 70%;
  }
}
/* 490px or less */
@media screen and (width <= 490px) {
  .modal_innerContainer {
    height: 55%;
  }
}
