/* SERVICES styles */

:root {
  --white: #ffffff;
  --black: #000000;
  --off-white: #f5f5f5;
  --off-black: #1c1c1c;
  --azul: #074257;
}

.outerContainer {
  width: 100%;
  height: 100%;
  background-color: var(--off-white);
}
.innerContainerA {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.slimHero {
  width: 63rem;
  height: 12rem;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  align-items: center;
  display: flex;
}
.slimHero .tint {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    280deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(28, 28, 28, 0.7) 63%
  );
  position: absolute;
  top: 0;
  z-index: 1;
}
.slimHero p {
  z-index: 2;
  position: absolute;
  font-family: var(--font-staatliches);
  color: var(--white);
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 1.5px;
  padding-left: 20px;
}
.innerContainerB {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.twoColumn {
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 63rem;
  justify-content: space-between;
}
.twoColumn.reverse {
  flex-direction: row-reverse;
}
.twoColumn .columnImage {
  width: 25rem;
  height: 25rem;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
}
.twoColumn .columnImage img {
  object-fit: cover;
}
.twoColumn .columnText {
  padding-left: 50px;
}
.twoColumn.reverse .columnText {
  padding-right: 50px;
  padding-left: 0px;
}
.twoColumn h1 {
  color: var(--azul);
  font-family: var(--font-staatliches);
  font-weight: 400;
  padding-bottom: 10px;
}
.twoColumn p {
  color: var(--off-black);
  font-family: var(--font-roboto);
  font-weight: 400;
  height: auto;
  width: 396px;
  line-height: 25px;
  padding-bottom: 10px;
}
.divider {
  background-color: rgba(143, 143, 143, 1);
  opacity: 50%;
  width: 40%;
  height: 2px;
}
.innerContainerC {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 100px;
}
.btn {
  padding: 7px 25px;
  color: #f5f5f5;
  background-color: #317b22;
  text-align: center;
  vertical-align: middle;
  border-radius: 20px;
  cursor: pointer;
  border: solid 2px #317b22;
  transition: all ease-in-out 0.25s;
}
.btn:hover {
  background-color: #f5f5f5;
  color: #317b22;
}
